*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;

}

.calc{
    background-color: #151515;
    width: 428px;
    height: 926px;
    border: 10px solid rgba (51, 51, 51, 0.6);
    box-shadow: 0px 4px 85px 42px rgba (0, 0, 0, 0.2);
    border-radius: 30px;
    display: grid;
    justify-content: center;
    align-content: flex-end;
    }

.buttons-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;;
    gap: 07px;
    padding-bottom: 17px;
}

.buttons-container button {
    width: 90px;
    height: 90px;
    font-style: normal;
    font-size: 42px;
    font-weight: 400;
    line-height: 51px;
    color: #ffffff;
    background: #333333;
    border: 3px solid #333333;
    box-shadow: inset 4px 1px 17px 3px rgba(0, 0, 0, 0.22);
    border-radius: 150px;
    }

.number-zero{
    grid-column: span 2;
}
